<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Default: INFO for everything -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- DEBUG for ChatService so we can see full request/response logs -->
    <logger name="io.therapistai.chat.application.ChatService" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>

